<!-- SHOW STUDENT DETAILS -->
<h1 style="color: purple;">Name: <%= @record.first_name+ " " + @record.last_name %></h1>
<h1 style="color: purple;">Address: <%= @record.address %></h1>
<h1 style="color: purple;">Student ID: <%= @record.student_id %></h1>
<h1 style="color: purple;">Major: <%= @record.major %></h1>
<h1 style="color: purple;">Birth Date: <%= @record.birthday %></h1>
<!--<h1>Minor: <%= @record.minor %></h1>-->


<button><a href="/students">BACK TO RECORDS</a></button>
<br />
<br />
<button><a href="/students/<%= @record.id %>/edit">EDIT THIS RECORD</a></button>
<br />
<br />

<form action="/students/<%= @record.id %>" method="POST">
<input name="_method" type="hidden" value="DELETE" />
<input type="submit" value="DELETE THIS RECORD" />
</form><br />
<br />